altgraph==0.17.2
autopep8==1.7.0
build==0.8.0
colorama==0.4.5
commonmark==0.9.1
future==0.18.2
keyboard==0.13.5
MouseInfo==0.1.3
packaging==21.3
pefile==2022.5.30
pep517==0.13.0
PyAutoGUI==0.9.53
pycodestyle==2.9.1
PyGetWindow==0.0.9
Pygments==2.13.0
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.10
PyMsgBox==1.0.9
pyparsing==3.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
pytweening==1.0.4
pywin32-ctypes==0.2.0
PyYAML==6.0
rich==12.5.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
toml==0.10.2
tomli==2.0.1
